{%extends "FedeRacineBundle::layout.html.twig"%}

  {% block menu %}
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Test de Fede</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="{{ path("fede_racine_homepage") }}">Accueil</a></li>
            <li><a href="{{ path("fede_twig_homepage")}}">Twig - Accueil</a></li>
              <li class="active"><a href="{{ path("fede_twig_si")}}">Conditions</a></li>
              <li><a href="{{ path("fede_twig_boucles")}}">Boucles</a></li>
              <li><a href="{{ path("fede_crud_homepage") }}">CRUD</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
         
{%endblock%}
    {% block content %} 
<br/><br/>
      <div class="container theme-showcase" role="main">
       <div class="jumbotron">
        <h1>Conditions</h1>
        
            {% set calification  = 10 %}
            
       
        {% if calification < 10 %}
        <p>Tu dois encore amelioré ta calification, est plus petite que {{calification}} :(</p>
    {%endif%}  
    {% if calification <= 10 %}
        <p>Le calification {{calification}} c'est parfaite!</p>
    {%endif%}
    {% if calification > 10 %}
        <p> C'est pas possible d'avoir une calification plus grande que{{calification}} </p>
        {% else %}
            {{"<p>Le nombre #{calification} n'est pas plus grand que 5</p>"|raw}}   
             {% if calification not in [1,2,3,4]%}
                <p>Félicitations, tu as réussi l"examen</p>
            {%endif%}
    {%endif%}
    
   
      </div>
       
    {% endblock%}
 
 